name: build

on:
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * 1"
  push:
    branches:
        - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      max-parallel: 1
      matrix:
        version: ["3.20", 3.21, 3.22, 3.23, latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Add annotations for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/kdpuvvadi/alpine:${{ matrix.version }}
            kdpuvvadi/alpine:${{ matrix.version }}
          annotations: |
            maintainer=kdpuvvadi
            org.opencontainers.image.title="alpine"
            org.opencontainers.image.authors="KD Puvvadi <kd@puvvadi.me>"
            org.opencontainers.image.source="https://github.com/kdpuvvadi/alpine"
            org.opencontainers.image.description="Alpine Linux docker images based off of official Alpine images on Docker Hub"
            org.opencontainers.image.licenses="MIT"
            org.opencontainers.image.version=${{ matrix.version }}

      - name: Log into registry github
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log into registry docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/386,linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6,linux/riscv64
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          build-args:
            IMAGE_TAG=${{ matrix.version }}
          tags: |
            ghcr.io/${{ github.repository	}}:${{ matrix.version }}
            ${{ github.repository	}}:${{ matrix.version }}
